@import "tailwindcss";

@theme {
	--font-sans:
		var(--font-geist), ui-sans-serif, system-ui, sans-serif,
		"Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

	--font-source: "Source Sans 3", sans-serif;
	--font-manrope: var(--font-manrope);

	--color-snow-100: #ffffff;
	--color-snow-200: #f9f9f9;
	--color-snow-300: #f5f5f5;

	--color-cocoa-100: #fff6f4;
	--color-cocoa-200: #c8a39b;
	--color-cocoa-300: #755750;
	--color-cocoa-400: #5c403a;
	--color-cocoa-500: #4e342e;
	--color-cocoa-900: #2b1611;
}

:root {
	--accent-main: var(--color-cocoa-500);
	--accent-sub: var(--color-cocoa-100);
	--other-accent: var(--color-cocoa-500);
	--other-accent-sub: var(--color-cocoa-100);
	--scrollbar-thumb: var(--color-cocoa-300);
	--scrollbar-thumb-hover: var(--color-cocoa-400);
	--scrollbar-track: transparent;
}

html,
body {
	@apply bg-cocoa-200/5 text-cocoa-500;
}

* {
	scrollbar-color: var(--scrollbar-thumb) var(--scrollbar-track);
	scrollbar-width: thin;
}

*::-webkit-scrollbar {
	height: 0.75rem;
	width: 0.75rem;
}

*::-webkit-scrollbar-track,
*::-webkit-scrollbar-corner {
	background: var(--scrollbar-track);
}

*::-webkit-scrollbar-thumb {
	background-clip: padding-box;
	background-color: var(--scrollbar-thumb);
	border: 0.1875rem solid transparent;
	border-radius: 9999px;
}

*::-webkit-scrollbar-thumb:hover {
	background-color: var(--scrollbar-thumb-hover);
}

*::-webkit-scrollbar-thumb:active {
	background-color: var(--color-cocoa-500);
}
