@import "tailwindcss";

@theme {
	--font-sans:
		var(--font-geist), ui-sans-serif, system-ui, sans-serif,
		"Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

	--font-source: "Source Sans 3", sans-serif;
	--font-manrope: var(--font-manrope);

	--color-snow-100: #ffffff;
	--color-snow-200: #f9f9f9;
	--color-snow-300: #f5f5f5;

	--color-cocoa-100: #fff6f4;
	--color-cocoa-200: #c8a39b;
	--color-cocoa-300: #755750;
	--color-cocoa-400: #5c403a;
	--color-cocoa-500: #4e342e;
	--color-cocoa-900: #2b1611;
}

html,
body {
	@apply bg-cocoa-200/5 text-cocoa-500;
}
