@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    @apply select-none;
}

article {
    h1 {
        @apply font-bold text-3xl leading-tight;
        @apply mb-1;
    }
    
    h1:not(:first-child) {
        @apply font-bold text-3xl leading-tight;
        @apply mb-3;
    }

    p {
        @apply font-normal text-base leading-snug whitespace-pre-wrap;
        @apply mb-5;
    }
    
    a:not(.info-bubble) {
        @apply font-semibold border-cocoa-light border-b-2;
        @apply hover:border-cocoa transition-colors duration-300
    }
    
    hr:not(:first-child) {
        @apply -mt-1 mb-4 border-t-[0.5px] border-cocoa-light;
    }
}