html, body {
    height: 100%;
}

body {
    background-color: #1c1c1c;
}

.container-fluid {
    padding-right: 15px !important;
    padding-left: 15px !important;
    margin-right: auto !important;
    margin-left: auto !important;
}

.navbar-brand {
    font-family: 'Open Sans', sans-serif;
    font-size: 19pt;
}

.nav-item {
    width: 70px;
    height: 31px;
}

.nav-link {
    text-align: center;
    padding: 4px 10px;
    background-color: rgba(255, 255, 255, 0.060);
    font-family: 'Open Sans', sans-serif;
    color: white !important;
    font-size: 13pt;
}

img {
    border: 5px white solid;
}

.mini-icon {
    width: 60px;
    height: 60px;
}

.mini-icon {
    cursor: pointer;
    fill: rgba(255, 255, 255, 0.473);

    transition: fill .4s ease-in;
}

.mini-icon:hover {
    cursor: pointer;
    fill: rgb(255, 255, 255)
}

footer {
    font-family: 'Open Sans', sans-serif;
    color: rgba(255, 255, 255, 0.527);
    font-size: 13pt;

    position: absolute;
    bottom: 0;
}

footer a:link, footer a:visited, footer a:active {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.527);
    transition: color .2s ease-in;
}

footer a:hover {
    color: rgba(173, 173, 173, 0.527);
}

@media only screen and (max-height: 768px) {
    img {
        width: 450px;
    }
}